/* Enter your custom styles here */
.rounded-image {
    border-radius: 50%;
    object-fit: cover;
}

.noWrapText {
    white-space: nowrap;
    margin: auto;
}

.customLabelBold {
    font-weight: bold !important;
}